* {
  outline: none;
  font-family: 'droidsans';
  font-size: 14px;
}

*:focus {
  outline: none;
}

select {
  cursor: pointer;
}

.navbar-header a {
  line-height: 25px;
}

.add {
  line-height: 28px;
}

.input-group {
  margin: 5px 0;
}

.btn-edit {
  background: none;
  border: none;
}

.login-avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

  i {
    font-size: 30px;
  }
}

.center {
  margin: 0 auto;
}

.remove {
  color: red;
}

.footer {
  padding: 15px 0;
}

.dynamic-form {
  ul {
    padding: 0;
    li {
      list-style: none;
      /*margin: 5px 0;
      select {
        width: 73%;
        display: inline-block;
      }

      input {
        width: 25%;
      }*/
    }
  }
}

.controll-input {
  a {
    display: inline-block;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #cccccc;
    border-radius: 30px;
    text-decoration: none;
    color: black;

    &:last-child {
      display: none;
    }

    &:focus, &:hover {
      text-decoration: none;
    }
  }
  
  
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

ul.pagination {
  margin: 0;
}

.footer .text-center{
  padding: 15px 0;
}

.summ {
  display: inline-block;
  margin-left: 70px;
}

.table tr.child td{
  border: none;
}

.pull-left, ul.dropdown-menu.pull-left {
  right: 100%;
}