@font-face {
  font-family: 'aleksandracregular';
  src: url(../fonts/aleksandracregular.ttf);
}

@font-face {
  font-family: 'days';
  src: url(../fonts/days.ttf);
}

@font-face {
  font-family: 'droidsans';
  src: url(../fonts/droidsans.ttf);
}

@font-face {
  font-family: 'ubuntu';
  src: url(../fonts/ubuntu.ttf);
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab';