.iс-table {

  .form-group {
    margin-bottom: 0;
  }

  tr:nth-child(4) > td:first-child{
    padding: 11px;
    vertical-align: top;
  }

  td:first-child{
    text-align: right;
    font-weight: bold;
  }

  td input {
    font-weight: normal;
  }

  td > ul {
    list-style: none;
    padding: 0;
    margin-bottom: -15px;

     li {
       padding: 0 0 10px 0;

       input {
         padding: 5px 10px;
       }
     }
  }

  td {
    padding: 5px 10px;
  }
}