.center {
  text-align: center;
}

.bid {
  width: 1000px;
  font-family: 'sans';
  font-weight: bold;
  line-height: 1.4;
  font-size: 18pt;
  text-align: justify;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0 auto;
  span {
    font-weight: normal;
    padding-right: 5px;
  }

  p {
    margin: 0;
  }

  .diffposition {
    p:first-child {
      text-align: left;
      float: left;
    }
    p:last-child{
      text-align: right;
    }
  }

}

.justify-elem {
  text-align: justify;
  padding: 0;
  /* Обнуляем для родителя*/
  line-height: 0;
  font-size: 1px; /* 1px для Opera */

  /* Лекарство для IE6-7*/
  text-justify: newspaper;
  zoom:1;

  /* Включаем в работу последнюю строку*/
  text-align-last: justify;

  &:after {
      width: 100%;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
  }

  li {
    display: inline-block;
    text-align: left;

    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 14px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;
  }

}

.clear-font {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.bird {
  width: 13px;
  height: 13px;
  border: 1px solid black;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.give-pc {
  display: inline-block;
}

.sub {
  text-align: center;
}

.sub > span {
  font-size: 12px;
}

.bid-name{
  text-decoration: underline;
}

@media print {
  body > * {
    display: none;
  }

  div.container {
    display: block;
    border: none;
  }

  .bid {
    margin-left: 50px;
    width: 1050px;
  }

  .print {
    display: none!important;
  }

  p{
    font-size: 20px;
  }

  span, li {
    font-size: 20px;
  }

  .sub-print-1 {
    margin: -13px 85px 0 0!important;
  }

  .sub-print-2 {
    margin: -13px 30px 0 0!important;
  }

}

a.print {
  display: block;
  margin: 10px auto;
  text-decoration: none;
  font-size: 40px;
  color: black;
  width: 37px;
}

.post {
  text-transform: lowercase;
}