{% extends 'base.html.twig' %}

{% block wrapper %}
<div class="error-page">
    Помилка <span>404</span><br>
    сторінку <span class="path">{{ app.request.pathinfo }}</span> не знайдено
</div>
{% endblock %}