{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Початковий період списання</th>
                <th>Кінечний період списання</th>
                <th></th>
            </tr>
            {% if writeOffs is empty %}
                <tr>
                    <td colspan="4">Елементи для показу відсутні</td>
                </tr>
            {% else %}
                    {% for writeOff in writeOffs %}
                        <tr>
                            <td>{{ writeOff.id }}</td>
                            <td>{{ writeOff.firstDate | date('d-m-Y')}}</td>
                            <td>{{ writeOff.secondDate | date('d-m-Y') }}</td>
                            <td>
                                <form target="_blank" action="{{ path('write_off_list_print', {id: writeOff.id }) }}" method="post">
                                    <button type="submit" class="btn-edit">
                                        <i class="fa fa-print print" aria-hidden="true"></i>
                                    </button>
                                </form>

                                <button type="button" class="btn-edit delete-button remove" data-toggle="modal" data-target="#deleteModal-{{ writeOff.id }}">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                                <div id="deleteModal-{{ writeOff.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Видалення запису № {{ writeOff.id }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-warning" role="alert">
                                                    <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                                    УВАГА!!! <br/> Після видалення запису, його неможливо відновити!
                                                </div>
                                                <p>Ви впевнені що бажаєте видалити запис?</p>
                                            </div>
                                            <div class="modal-footer">
                                                {#{{ form_start(deleteType, {'action': path('admin_bid_delete', {id: writeOff.id})}) }} #}{#Здесь нет#}

                                                <form action="{{ path('write_off_list_delete', {id: writeOff.id}) }}" method="POST">
                                                    <button type="submit" class="btn btn-danger">Так</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
                                                </form>
                                                    {#{{ form_end(deleteType) }}#}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
            {% endif %}

        </table>

    </div>
{% endblock %}