{% extends 'base.html.twig' %}
{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading">Генератори документації</div>
        <div class="panel-body">
            <a href="{{ path('bid') }}" class="btn btn-default generation">Заявки на виконання робіт</a>
            <a href="{{ path('write_off_list') }}" class="btn btn-default generation">Списані матеріали</a>
            <hr>
            <a href="{{ path('installation_certificate') }}" class="btn btn-default generation">Акт установки</a>
            <a href="{{ path('writeOffAct') }}" class="btn btn-default generation">Акт списання</a>

        </div>
    </div>
    {% if is_granted('ROLE_EDITOR')%}
        <div class="panel panel-default">
            <div class="panel-heading">Склади <a href="{{ path('storage_history') }}" class="btn btn-default generation" style="margin-left: 80%;">Історія списання</a></div>
            <div class="panel-body">
                {% for storage in repoStorages %}
                    <a href="{{ path('storages', {id: storage.id}) }}" class="btn btn-default generation">{{ storage.name }}</a>
                {% endfor %}
                <br/>

                {#{% if is_granted('ROLE_EDITOR_ICC') %}
                    <a href="{{ path('storage_icc') }}" class="btn btn-default generation">Склад ІОЦ</a>
                {% endif %}
                {% if is_granted('ROLE_EDITOR_COPYCENTER') %}
                    <a href="{{ path('storage_copycenter') }}" class="btn btn-default generation">Склад копіювального центру</a>
                {% endif %}
                {% if is_granted('ROLE_EDITOR_LMZT') %}
                    <a href="{{ path('storage_lmzt') }}" class="btn btn-default generation">Склад ЛМЗТ</a>
                {% endif %}#}
            </div>
        </div>
    {% endif %}
{% endblock %}