{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="panel panel-default">
        <div class="panel-heading clearfix add">
            Заявки
            <a href="{{ path('new_bid') }}" class="btn btn-sm btn-default pull-right">+ Додати</a>
        </div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Заявник</th>
                <th>Завдання</th>
                <th>Статус</th>
                <th></th>
            </tr>
            {% if bid == null %}
                <tr>
                    <td colspan="6">Елементи для показу відсутні</td>
                </tr>
            {% endif %}
            {% for value in pagerfanta  %}
                <tr>
                    <td>{{ value.id }}.</td>
                    <td>{{ value.date | date('d-m-Y')}}</td>
                    <td>{{ value.lastname }} {{ value.firstname | slice(0, 1) }}. {{ value.patronymic | slice(0, 1) }}.</td>
                    <td class="task">{{ value.task }}</td>
                    <td>
                        {% if value.status == 0 %}
                            <span style="color: red;">Не виконано</span>
                        {% else %}
                            <span style="color: green;">Виконано</span>
                        {% endif %}
                    </td>
                    <td class="table-controll">
                        <div id="successBid-{{ value.id }}" class="modal fade modal-controller" role="dialog">
                            <div class="modal-dialog">

                                <form action="{{ path('complete_bid') }}" method="POST">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Підтвердження заявки #{{ value.id }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-warning" role="alert">
                                                <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                                УВАГА!!! <br/> Вкажіть матеріали які були використані у работі!
                                            </div>


                                            <div class="dynamic-form">
                                                <ul>
                                                    <li>
                                                        <input type="hidden" name="item[DefaultValues][bidId]" value="{{ value.id }}" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="center controll-input">
                                                <a href="#" class="plus">+</a>
                                                <a href="#" class="minus">-</a>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Виконано</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        {% if value.status == 0 %}
                           <form action="{{ path('complete_bid', {id: value.id}) }}" target="_blank" method="POST">
                                <button type="button" class="btn-edit" style="color: #0cb13d;" data-toggle="modal" data-target="#successBid-{{ value.id }}">
                                    <i class="fa fa-check"></i>
                                </button>
                            </form>
                        {% endif %}

                        <form action="{{ path('edit_bid', {id: value.id}) }}">
                            <button type="submit" class="btn-edit">
                                <i class="fa fa-pencil print" aria-hidden="true"></i>
                            </button>
                        </form>

                        <form target="_blank" action="{{ path('print_bid', {id: value.id}) }}">
                            <button type="submit" class="btn-edit">
                                <i class="fa fa-print print" aria-hidden="true"></i>
                            </button>
                        </form>


                        <button type="button" class="btn-edit delete-button remove" data-toggle="modal" data-target="#deleteModal-{{ value.id }}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <div id="deleteModal-{{ value.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Видалення запису № {{ value.id }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-warning" role="alert">
                                            <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                            УВАГА!!! <br/> Після видалення запису, його неможливо відновити!
                                        </div>
                                        <p>Ви впевнені що бажаєте видалити запис?</p>
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_start(deleteType, {'action': path('admin_bid_delete', {id: value.id})}) }} {#Здесь нет#}
                                        <button type="submit" class="btn btn-danger">Так</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
                                        {{ form_end(deleteType) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="center">
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated') }}
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            // Переменные
            var inputCount = 0; // Число инпутов


            $('.plus').click(function(){
                $(this).closest('.modal-body').find('.dynamic-form > ul')
                        .append('<li class="form-item"><div class="col-lg-8"><select class="form-control" id="item-'+ inputCount +'" name="item[Items]['+ inputCount + '][itemId]">' +
                                '{% for value in items %}' +
                                '<option value="{{ value.id }}">{{ value.name}}</option>' +
                                '{% endfor %}' +
                                '</select></div>' +
                                '<div class="form-group col-lg-4">' +
                                '<input autocomplete="off" class="form-control count" type="text" id="count-'+ inputCount + '" name="item[Items][' + inputCount + '][count]" ' +
                                'placeholder="Кількість"/></div></li>');


                $(this).closest('.modal-body').find('input[type="text"].count').each(function (index) {
                    inputCount = index+1;
                });

                if(inputCount > 0){
                    $('.minus').css('display', 'inline-block');
                    $('.btn-success').attr('disabled', true);
                }

                // Отключение кнопки

                // select2
                $("select").select2({
                    theme: "bootstrap",
                    maximumSelectionLength: 2,
                    "language": {
                        "noResults": function(){
                            return "За данним запитом немає результатів.";
                        }
                    }
                });

                if(inputCount == 0){
                    $('.btn-success').removeAttr('disabled');
                }



                console.log(inputCount);
            });

            // Удаление инпута
            $('.minus').click(function(){
                $(this).closest('.modal-body').find('.dynamic-form > ul').children('li:last-child').remove();
                inputCount--;
                if(inputCount < 1) {
                    $('.minus').css('display', 'none');
                }
                if(inputCount == 0){
                    $('.btn-success').removeAttr('disabled');
                }
            });

            // Сброс счетчика при закрытии формы
            $('.modal-controller').on('hide.bs.modal', function() {
                $('.form-item').each(function (index) {
                    $(this).remove();
                });
                $('.minus').css('display', 'none');
                $('.btn-success').removeAttr('disabled');
            });

            // Проверка на цифры
            $(document).on('keyup', '.count', function(e){

//                var pattern = /^\d+$/;  // регулярное выражение
                var pattern = /^\d+\.?\d{0,2}$/;  // регулярное выражение
                var string = $(this).val();
                var thisInput = $(this).parent('.form-group').find('input');
                console.log(string.match(pattern));
                if(string.match(pattern)){  // если регулярное выражение верно
                    $(this).parent('.form-group').removeClass('has-error');
                    thisInput.removeAttr('data-toggle title');
                }
                else if(string == ""){  // если строка пустая добавляем класс has-error
                    thisInput.tooltip('destroy');
                    $(this).parent('.form-group').addClass('has-error');
                    thisInput.tooltip('destroy').attr({
                        title: 'Поле не може бути пустим',
                        'data-toggle': 'tooltip'
                    }).tooltip();
                }
                else {  // если регулярка не верна добавляем класс has-error
                    thisInput.tooltip('destroy');
                    $(this).parent('.form-group').addClass('has-error');
                    thisInput.tooltip('destroy').attr({
                        title: 'Поле підтримує тільки цілі числа',
                        'data-toggle': 'tooltip'
                    }).tooltip();
                }

                var isNotValid = 0; // число невалидных полей

                $('.modal-body').find('.count').each(function(index) {  // перебор каждого поля
                    //console.log($(this).val());
                    if(!$(this).val().match(pattern)){  // проверка поля на валидность
                        isNotValid++;
                    }

                    console.log(isNotValid);
                    if(isNotValid == 0){
                        $('.btn-success').removeAttr('disabled');   // если невалидных полей нету,
                    }                                               //убираем аттрибут disabled
                    else {
                        $('.btn-success').attr('disabled', true);   // если невалидные поля есть, устанавливаем
                    }                                               //аттрибут disabled = true

                });

            })
        });
    </script>

{% endblock %}