{% extends 'base.html.twig'%}

{% block wrapper %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Нова заявка</h3>
    </div>
    <div class="panel-body">
            {% form_theme newBid 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(newBid) }}
            {{ form_widget(newBid) }}
        <div class="center">
            <div class="agree checkbox">
                <label for="agree"><input  id="agree" type="checkbox" />Ви впевнені що заповнили всі поля правильно?</label>
            </div>
            <button id="submit" class="btn btn-success" type="submit">Створити</button>
            <a href="{{ path('bid') }}" class="btn btn-danger">Скасувати</a>
        </div>
            {{ form_end(newBid) }}
    </div>
</div>


    <script>
        $(document).ready(function () {
            var now = moment(); // метод moment.js
            $('#bid_date').val(now.format('DD - MM - YYYY'));
            $('#bid_time').val(now.format('HH:mm'));

            $('#bid_phone').val('+38 (0');
            $('#bid_phone').mask('+38 (Z00) 000 - 00 - 00', {
                    translation: {
                        'Z': {
                            pattern: /[0]/,
                                    fallback: '0'
                        },
                    }
            });

            $('#agree').prop('checked', false);
            $('#submit').prop('disabled', true);
            $('#agree').click(function () {
                if($('#agree').prop('checked') == true){
                    $('#submit').prop('disabled', false);
                }
                else {
                    $('#submit').prop('disabled', true);
                }
            });

        })
    </script>

{% endblock %}