{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Корегування заявки</h3>
        </div>
        <div class="panel-body">
            {% form_theme formEditBid 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(formEditBid) }}
            {{ form_widget(formEditBid) }}
            <div class="center">
                <button id="submit" class="btn btn-success" type="submit">Зберегти</button>
                <a href="{{ path('bid') }}" class="btn btn-danger">Скасувати</a>
            </div>
            {{ form_end(formEditBid) }}
        </div>
    </div>

    <script>
        $('#bid_edit_phone').mask('+38 (Z00) 000 - 00 - 00', {
            translation: {
                'Z': {
                    pattern: /[0]/,
                    fallback: '0'
                },
            }
        });
    </script>
{% endblock %}