{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="bid">
        <p class="title-bid center">Заявка на виконання робіт / обслуговування комп`ютерної техніки № {{ bid.id }}</p>
        <p>Дата: <span id="date">{{ bid.date | date('d.m.Y') }}</span> Час: <span>{{ bid.time | date('H:i') }}</span></p>
        <p>Відповідальна особа: <span class="bid-name u">{{ bid.lastname }} {{ bid.firstname }} {{ bid.patronymic }}, <span class="post">{{ bid.post }}</span></span></p>
        <p>Контактний телефон: <span>{{ bid.phone }}</span></p>
        <p>Корпус: <span>{{ bid.housing }}</span> Аудиторія: <span>{{ bid.audience }}</span></p>
        <p>Інв. номер комп`ютера: <span style="border-bottom: 1px solid black; display: inline-block; width: 200px; height: 20px; position: absolute; margin-left: 10px; background: #e7e7e7;"></span></p>
        <p id="task">Завдання / ознаки несправності КТ: <br/>
            <p>
                <span class="italic">
                    {{ bid.task }}
                </span>
            </p>
        </p>
        <div class="diffposition">
            <p>Огляд (ремонт): негайно/ <span style="border-bottom: 1px solid black; display: inline-block; width: 120px; height: 15px;"></span> о <span style="border-bottom: 1px solid black; display: inline-block; width: 120px; height: 20px;"></span></p><p>{{ bid.headLaboratory }}</p>
        </div>
        <p style="margin-top: 10px;">Результати роботи огляду інженером ІОЦ</p>
        <div class="diffposition">
            <p class="clear-font italic">Наявність контрольного талону <span style="border-bottom: 1px solid black; display: inline-block; width: 200px; height: 20px;"></span></p><p class="clear-font italic">Операційна система <span style="border-bottom: 1px solid black; display: inline-block; width: 200px; height: 20px;"></span></p>
        </div>
        <div class="diffposition">
            <span style="border-bottom: 1px solid black; display: inline-block; width: 100%; height: 25px;"></span>
            <span style="border-bottom: 1px solid black; display: inline-block; width: 100%; height: 25px;"></span>
        </div>
        <ul class="justify-elem clear-font italic">
            <li>Відремантовано</li>
            <li>Причина не встановлена</li>
            <li>Тичасове відновлення</li>
            <li>Повторно</li>
        </ul>
        <p class="give-pc"><span>Техніку взято для подальшої роботи в ІОЦ </span><div class="bird"></div></p>
        <div class="diffposition" style="margin-top: 10px;">
            <p><span>Виконавець &#8211; інженер ІОЦ</span></p><p><span style="border-bottom: 1px solid black; display: inline-block; width: 75%; height: 20px;"></span></p>
        </div>
        <p class="sub sub-print-1"><span>(ПІБ, підпис)</span></p>
        <div class="diffposition">
            <p>Відповідальна особа</p><p><span style="border-bottom: 1px solid black; display: inline-block; width: 80%; height: 20px;"></span></p>
        </div>
        <p class="sub sub-print-2"><span>(ПІБ, підпис)</span></p>
    </div>
    <a class="fa fa-print print" aria-hidden="true" href="{{ path('bid') }}" onclick="doPrint(); return false;">
    </a>
    <script>
        function doPrint() {
            window.print();
            setTimeout("location.href=\"{{ path('bid') }}\"",1000);
        }
    </script>
{% endblock %}

