<style>
    @page {
        margin: 20px 30px;
    }
    #time {
        margin: -18px 0 0 130px;
    }
    #inv {
        position: absolute;
        width: 200px;
        height: 18px;
        border-bottom: 1px solid black;
        margin: -18px 0 0 190px;
    }
    .square {
        position: relative
        background: #E7E7E7;
        width: 200px;
        height: 18px;
        border-bottom: 1px solid black;
        margin: -18px 0 0 190px;
    }
    table {
        width: 100%;
        margin: -2px -3px
    }

    div {
        margin-bottom: 3px;
    }

</style>
<div style="text-align: center; font-weight: bold; margin-bottom: 5px;">Заявка на виконання робіт / обслуговування комп`ютерної техніки № {{ bid.id }}</div>
<div><b>Дата:</b> {{ bid.date | date('d.m.Y') }} <div id="time"><b>Час:</b> {{ bid.time | date('H:i') }}</div></div>
<div><b>Відповідальна особа:</b> <u>{{ bid.lastname }} {{ bid.firstname }} {{ bid.patronymic }}, {{ bid.post }}</u></div>
<div><b>Контактний телефон:</b> <u>{{ bid.phone }}</u></div>
<div><b>Корпус:</b> {{ bid.housing }} <b>Аудиторія:</b> {{ bid.audience }}</div>
<div><b>Інв. номер комп`ютера:</b> <div id="inv"></div></div>
<div><b>Завдання / ознаки несправності КТ:</b></div>
<div style="border: 1px solid black; padding: 3px;">
    <div><i>{{ bid.task }}</i></div>
</div>
<table>
    <tr>
        <td><b>Огляд (ремонт): негайно/</b> _______________ <b>о</b> _______________ </td>
        <td align="right"><b>{{ bid.headLaboratory }}</b></td>
    </tr>
</table>
<div style="margin-top: 2px"><b>Результати роботи огляду інженером ІОЦ:</b></div>
<table>
    <tr>
        <td><i>Наявність контрольного талону</i> _____________________</td>
        <td align="right"><i>Операційна система</i> _____________________</td>
    </tr>
</table>
<div style="margin-top: 5px;">______________________________________________________________________________________________________________</div>
<div style="margin-top: 5px;">______________________________________________________________________________________________________________</div>
<div style="margin-top: 5px;">______________________________________________________________________________________________________________</div>
<table>
    <tr>
        <td>Відремонтовано</td>
        <td align="center">Причина не встановлена</td>
        <td align="center">Тичасове відновлення</td>
        <td align="right">Повторно</td>
    </tr>
</table>
<table style="width: 45%">
    <tr>
        <td>Техніку взято для подальшої роботи в ІОЦ </td>
        <td>&#x25A1;</td>

    </tr>
</table>
<div style="margin-top: 10px;">Виконавець – інженер ІОЦ _________________________________________________________________________________</div>
<div style="margin-left: 410px; font-size: 10px;">(ПІБ, підпис)</div>
<div style="margin-top: 10px;"><b>Відповідальна особа:</b> &nbsp;&nbsp;___________________________________________________________________________________</div>
<div style="margin-left: 400px; font-size: 10px;">(ПІБ, підпис)</div>
