{% extends 'base.html.twig' %}
{% block wrapper %}
    {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="jumbotron">
            <h2>Ви потрапили на сторінку «Інформаційно обчислювальний центр»</h2>
            <p>Ви авторизовані :)</p>
            <p><a class="btn btn-danger btn-lg" href="{{ path('fos_user_security_logout') }}" role="button">Вийти</a></p>
        </div>
    {% else %}
        <div class="jumbotron">
            <h2>Ви потрапили на сторінку «Інформаційно обчислювальний центр»</h2>
            <p>Якщо ви бажаєте далі працювати з системою, вам потрібно авторизуватись.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_login') }}" role="button">Увійти</a></p>
        </div>
    {% endif %}
{% endblock %}