{% extends 'base.html.twig' %}

{% block wrapper %}
    <form action="{{ path('installation_certificate') }}" method="GET" name="ic">

        <table class="iс-table">
            <tr>
                <td>Підрозділ:</td>
                <td>
                    <div>
                        <select name="ic[storage]" class="form-control">
                            {% for val in storages %}
                                <option value="{{ val.id }}">{{ val.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Матеріально відповідальна особа:</td>
                <td>
                    {% if ic %}
                        {% if ic['frp'] %}
                            <input type="text" autocomplete="off" class="form-control" name="ic[frp]" value="{{ ic['frp'] }}">
                        {% else %}
                            <input type="text" autocomplete="off" class="form-control" name="ic[frp]">
                        {% endif %}
                    {% else %}
                        <input type="text" autocomplete="off" class="form-control" name="ic[frp]">
                    {% endif %}
                    {#<input type="text" name="ic[frp]" class="form-control">#}
                </td>
            </tr>
            <tr>
                <td>Голова коміссії:</td>
                <td>
                    {% if ic %}
                        {% if ic['head-comission'] %}
                            <input type="text" autocomplete="off" class="form-control" name="ic[head-comission]" value="{{ ic['head-comission'] }}">
                        {% else %}
                            <input type="text" name="ic[head-comission]" class="form-control">
                        {% endif %}
                    {% else %}
                        <input type="text" autocomplete="off" class="form-control" name="ic[head-comission]">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Члени коміссії:</td>
                <td>
                    <ul>
                        {% for i in 0..2  %}
                            {% if ic %}
                                {% if ic['comission-member'] %}
                                    <li><input type="text" name="ic[comission-member][{{ i }}]" class="form-control" value="{{ ic['comission-member'][i] }}"></li>
                                {% endif %}
                            {% else %}
                                <li><input type="text" name="ic[comission-member][{{ i }}]" class="form-control"></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="firstPeriod">Перший період дати:</label>
                        {% if ic %}
                            {% if ic['period'] %}
                                {% if ic['period']['first'] %}
                                    <input type="text" autocomplete="off" class="form-control date" name="ic[period][first]" id="firstPeriod" placeholder="дд-мм-рррр" value="{{ ic['period']['first'] }}">
                                {% else %}
                                    <input type="text" autocomplete="off" class="form-control date" name="ic[period][first]" id="firstPeriod" placeholder="дд-мм-рррр">
                                {% endif %}
                            {% else %}
                                <input type="text" autocomplete="off" class="form-control date" name="ic[period][first]" id="firstPeriod" placeholder="дд-мм-рррр">
                            {% endif %}
                        {% else %}
                            <input type="text" autocomplete="off" class="form-control date" name="ic[period][first]" id="firstPeriod" placeholder="дд-мм-рррр">
                        {% endif %}

                    </div>
                </td>
                <td>

                    <div class="form-group">
                        <label for="secondPeriod">Другий період дати:</label>
                        {% if ic %}
                            {% if ic['period']  %}
                                {% if ic['period']['second'] %}
                                    <input type="text" autocomplete="off" class="form-control date" name="ic[period][second]" id="firstPeriod" placeholder="дд-мм-рррр" value="{{ ic['period']['second'] }}">
                                {% else %}
                                    <input type="text" autocomplete="off" class="form-control date" name="ic[period][second]" id="firstPeriod" placeholder="дд-мм-рррр">
                                {% endif %}

                            {% else %}
                                <input type="text" autocomplete="off" class="form-control date" name="ic[period][second]" id="firstPeriod" placeholder="дд-мм-рррр">
                            {% endif %}
                        {% else %}
                            <input type="text" autocomplete="off" class="form-control date" name="ic[period][second]" id="firstPeriod" placeholder="дд-мм-рррр">
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-default" id="pushPrint" disabled>Роздрукувати</button>
                    <button class="btn btn-default" type="submit">Відправити</button>
                </td>
            </tr>
        </table>

    </form>

    <form target="_blank" action="{{ path('installation_certificate_generate') }}" method="POST" id="print" name="print">
        {% if ic %}
            {% if ic['storage'] %}
                <input type="hidden" autocomplete="off" class="form-control" name="print[storage]" value="{{ ic['storage'] }}">
            {% else %}
                <input type="hidden" autocomplete="off" class="form-control" name="print[storage]">
            {% endif %}
            {% if ic['frp'] %}
                <input type="hidden" autocomplete="off" class="form-control" name="print[frp]" value="{{ ic['frp'] }}">
            {% else %}
                <input type="hidden" autocomplete="off" class="form-control" name="print[frp]">
            {% endif %}
            {% if ic['head-comission'] %}
                <input type="hidden" autocomplete="off" class="form-control" name="print[head-comission]" value="{{ ic['head-comission'] }}">
            {% else %}
                <input type="hidden" autocomplete="off" class="form-control" name="print[head-comission]">
            {% endif %}

            {% for i in 0..2  %}
                {% if ic['comission-member'] %}
                    <input type="hidden" name="print[comission-member][{{ i }}]" class="form-control" value="{{ ic['comission-member'][i] }}">
                {% else %}
                    <input type="hidden" name="print[comission-member][{{ i }}]" class="form-control">
                {% endif %}
            {% endfor %}
            {% if ic['period'] %}
                {% if ic['period']['first']%}
                    <input type="hidden" autocomplete="off" class="form-control" name="print[first]" value="{{ ic['period']['first'] }}">
                {% else %}
                    <input type="hidden" autocomplete="off" class="form-control" name="print[first]">
                {% endif %}
                {% if ic['period']['second']%}
                    <input type="hidden" autocomplete="off" class="form-control" name="print[second]" value="{{ ic['period']['second'] }}">
                {% else %}
                    <input type="hidden" autocomplete="off" class="form-control" name="print[second]">
                {% endif %}
            {% endif %}
        {% else %}
            <input type="hidden" autocomplete="off" class="form-control" name="date[first]">
            <input type="hidden" autocomplete="off" class="form-control" name="date[second]">
        {% endif %}

        {#<button type="submit" formtarget="_blank">Роздрокувати</button>#}
    </form>


    <table class="table table-bordered">
        <tr>
            <th>№</th>
            <th>Найменування</th>
            <th>Од. Виміру</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
            <th>Місце встановлення</th>
        </tr>


        {% if result is empty %}
        <tr>
            <td colspan="7">Елементи для показу відсутні</td>
        </tr>
        {% else %}
            {% for item in result %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>шт.</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ "%.02f"|format(item.count * item.price)}}</td>
                    <td>Встановлено в {{ item.housing|lower }} корпус, в {{ item.audience }}.</td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>

    <script>
        $(document).ready(function (){
            $('.date').mask('99-99-9999');
                var i = 0;
            $('input').each(function () {
                i++;
                if( $(this).val() != ""){
                    $('#pushPrint').removeAttr('disabled');
                }
                else {
                    $('#pushPrint').attr('disabled', true);
                    return false;

                }
            });
            $('#pushPrint').click(function(e){
                e.preventDefault();
                $('#print').submit();
            })

        });

    </script>
{% endblock %}