<style>
    .table {
        border-collapse: collapse;
    }

    .table, .table tr, .table th, .table td {
        border: 1px solid black;
    }
    
    .table td {
        text-align: center;
    }

    .table th, .table td {
        font-size: 10pt;
        padding: 3px 5px;
    }

</style>

<div align="center">ЗАТВЕРДЖУЮ</div>
<div align="right" style="margin-right: 100px;">________________ Золотницький М. Я.</div>
<div align="right" style="margin-right: 100px;">«______» __________________ 20_____ р.</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center">АКТ УСТАНОВКИ</div>
<div align="center">За {{ date['month'] }} {{ date['year'] }}</div>
<br>
<table style="vertical-align: top">
    <tr>
        <td>
            Підрозділ:
        </td>
        <td>
            <u>{{ print['storage'] }}</u>
        </td>
    </tr>
    <tr>
        <td>
            Матеріально відповідальна особа:
        </td>
        <td>
            <u>{{ print['frp'] }}</u>
        </td>
    </tr>
    <tr>
        <td>
            Комісія у складі:
        </td>
    </tr>
    <tr>
        <td>
            Голова коміссії:
        </td>
        <td>
            <u>{{ print['head-comission'] }}</u>
        </td>
    </tr>
    <tr>
        <td>
            Члени коміссії:
        </td>
        <td>
            <ol>
                {% for member in print['comission-member'] %}
                    <li><u>{{ member }}</u></li>
                {% endfor %}
            </ol>
        </td>
    </tr>
</table>
<br>
<table class="table" width="100%" >
    <tr>
        <th>
            №
        </th>
        <th>
            Найменування
        </th>
        <th>
            Од.<br/>виміру
        </th>
        <th>
            Кількість
        </th>
        <th>
            Ціна
        </th>
        <th>
            Сума
        </th>
        <th>
            Місце встановлення
        </th>
    </tr>
    {% for item in result %}
       <tr>
           <td>{{ loop.index }}</td>
           <td>{{ item['name'] }}</td>
           <td>шт.</td>
           <td>{{ item['count'] }}</td>
           <td>{{ item['price'] }}</td>
           <td>{{ "%.02f"|format(item['count'] * item['price'])}}</td>
           <td>Встановлено в {{ item['housing']|lower }} корпус, в {{ item['audience'] }}.</td>
       </tr>
    {% endfor %}
</table>
<br>
<table style="vertical-align: top">
    <tr>
        <td>
            Голова коміссії:
        </td>
        <td>
            <u>{{ print['head-comission'] }}</u>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            Члени коміссії:
        </td>
        <td>
            <ol>
                {% for member in print['comission-member'] %}
                    <li><u>{{ member }}</u></li>
                {% endfor %}
            </ol>
        </td>
    </tr>
</table>
<div>Матеріально відповідальна особа ____________________ {{ print['frp'] }}</div>
<div style="margin: 0 0 0 335px; font-size: 11pt">(підпис)</div>
