{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Налаштування</h3>
        </div>
        <div class="panel-body">
            {% form_theme formEditUser 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(formEditUser) }}
            {{ form_widget(formEditUser) }}
                <div class="center">
                    <button id="submit" class="btn btn-success" type="submit">Зберегти</button>
                    <a href="{{ path('index') }}" class="btn btn-danger">Скасувати</a>
                </div>
            {{ form_end(formEditUser) }}
        </div>
    </div>
{% endblock %}