{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix add">
            <div class="col-md-5">Склад: «{{ repoStorages.name }}»</div>
            <div class="col-md-5"><b>Всього:</b> {{ summItem }} UAH</div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#addItemModal">
                    + Додати
                </button>
            </div>
            <div id="addItemModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            Новий запис
                        </div>
                        <div class="modal-body">
                            {% form_theme formItem 'bootstrap_3_layout.html.twig' %}
                            {{ form_start(formItem) }}
                            {{ form_row(formItem.name) }}
                            {{ form_row(formItem.price) }}
                            {{ form_row(formItem.count) }}
                            {{ form_row(formItem.type) }}

                        </div>
                            <div class="modal-footer">
                                <button class="btn btn-success">Додати</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                            </div>
                        {{ form_end(formItem) }}


                    </div>

                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Найменування</th>
                <th>Тип</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сума</th>
                <th></th>
            </tr>
            {% if repoItem == null %}
                <tr>
                    <td colspan="6">Елементи для показу відсутні</td>
                </tr>
            {% endif %}
            {% for item in repoItem  %}

                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    {% if item.type == 0 %}
                        <td>Росходний матеріал</td>
                    {% else %}
                        <td>Запасна частина</td>
                    {% endif %}
                    <td>{{ item.count}}</td>
                    <td>{{ item.price}} UAH</td>
                    <td>{{ item.summ }} UAH</td>

                    <td class="table-controll">
                        <form action="{{ path('storage_edit', {'storages_id': storages_id, id: item.id}) }}">
                            <button type="submit" class="btn-edit">
                                <i class="fa fa-pencil print" aria-hidden="true"></i>
                            </button>
                        </form>

                        <button type="button" class="btn-edit delete-button remove" data-toggle="modal" data-target="#deleteModal-{{ loop.index }}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <div id="deleteModal-{{ loop.index }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Видалення запису #{{ loop.index }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-warning" role="alert">
                                            <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                            УВАГА!!! <br/> Після видалення запису, його неможливо відновити!
                                        </div>
                                        <p>Ви впевнені що бажаєте видалити запис?</p>
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_start(deleteType, {'action': path('storage_item_delete', {'storages_id': storages_id,id: item.id})}) }}
                                        <button type="submit" class="btn btn-danger">Так</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
                                        {{ form_end(deleteType) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {#<div class="well">#}
        {#<a href="{{ path('storage_icc') }}" class="btn btn-default generation">Склад ІОЦ</a>
        <a href="{{ path('storage_copycenter') }}" class="btn btn-default generation">Склад копіювального центру</a>
        <a href="{{ path('storage_lmzt') }}" class="btn btn-default generation">Склад ЛМЗТ</a>#}
    {#</div>#}
{% endblock %}