{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Корегування позиції</h3>
        </div>
        <div class="panel-body">
            {% form_theme formEditItem 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(formEditItem) }}
            {{ form_row(formEditItem.name, {'label': 'Найменування'}) }}
            {{ form_row(formEditItem.price, {'label': 'Ціна'}) }}
            {{ form_row(formEditItem.count, {'label': 'Кількість'}) }}
            {{ form_row(formEditItem.type, {'label': 'Тип'}) }}

            <div class="center">
                <button id="submit" class="btn btn-success" type="submit">Зберегти</button>
                <a href="{{ path('storages', {id: storage_id}) }}" class="btn btn-danger">Скасувати</a>
            </div>
            {{ form_end(formEditItem) }}
        </div>
    </div>
{% endblock %}
