{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix add">
            <div class="col-md-5">Списані матеріали</div>
            <div class="col-md-5"><b>Списано на суму:</b> {{ summItem }} UAH</div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#addItemModal">
                    + Додати
                </button>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>ID заявки</th>
                <th>Склад</th>
                <th>Матеріал</th>
                <th>Кількість</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Час</th>
                <th>Користувач</th>
            </tr>
            {% if itemEntries == null %}
                <tr>
                    <td colspan="6">Елементи для показу відсутні</td>
                </tr>
            {% endif %}
            {% set previousBidId = '0' %}
            {% for value in itemEntries %}
                {% if value.bid == previousBidId %}
                    <tr class="child">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ value.item.name }} (ID: {{ value.item }})</td>
                        <td>{{ value.count }}</td>
                        <td>-{{ value.summ }} UAH</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ value.id }}.</td>
                        <td>{{ value.bid }}</td>
                        <td>{{ value.storage.name }}</td>
                        <td>{{ value.item.name }} (ID: {{ value.item }})</td>
                        <td>{{ value.count }}</td>
                        <td>-{{ value.summ }} UAH</td>
                        <td>{{ value.date | date('d-m-Y') }}</td>
                        <td>{{ value.time | date('H:i:m') }}</td>
                        <td>{{ value.userLogin }}</td>
                    </tr>
                    {% set previousBidId = value.bid %}
                {% endif %}
            {% endfor %}
        </table>
        <div class="center">
            {{ pagerfanta(itemEntries, 'twitter_bootstrap3_translated') }}
        </div>
    </div>
{% endblock %}