{% extends 'base.html.twig' %}
{% block wrapper %}
    <div class="well">
        {% form_theme formEditUser 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(formEditUser) }}
            {{ form_widget(formEditUser) }}
        <div class="center">
            <button id="submit" type="submit" class="btn btn-success">Зберегти</button>
            <a href="{{ path('user') }}" class="btn btn-danger">Скасувати</a>
        </div>
        {{ form_end(formEditUser) }}
    </div>

{% endblock %}