{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading">Користувачі</div>

        <table class="table">
            <tr>
                <th>#</th>
                <th>Логін</th>
                <th>Електронна пошта</th>
                <th>П. І. Б.</th>
                <th>Роль</th>
                <th></th>
            </tr>
            {% if repoUser == null %}
                <tr>
                    <td colspan="6">Елементи для показу відсутні</td>
                </tr>
            {% endif %}
            {% for user in repoUser  %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastname }} {{ user.firstname | slice(0, 1) }}. {{ user.patronymic  | slice(0, 1)}}.</td>
                    <td>
                        {% if user.hasRole('ROLE_SUPER_ADMIN') %}
                            Супер адміністратор
                        {% elseif user.hasRole('ROLE_EDITOR') %}
                            Редактор
                        {% elseif user.hasRole('ROLE_ADMIN') %}
                            Адміністратор
                        {% else %}
                            Користувач
                        {% endif %}
                    </td>
                    <td class="table-controll">
                        <form action="{{ path('edit_user', {id: user.id}) }}" method="post">
                            <button type="submit" class="btn-edit">
                                <i class="fa fa-pencil print" aria-hidden="true"></i>
                            </button>
                        </form>
                        {{ form_start(deleteType, {'action': path('user_delete', {id: user.id})}) }}
                        <button type="button" class="btn-edit delete-button remove" data-toggle="modal" data-target="#deleteModal-{{ loop.index }}">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <div id="deleteModal-{{ loop.index }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Видалення користувача «{{ user.username }}»</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-warning" role="alert">
                                            <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                            УВАГА!!! <br/> Після видалення запису, його неможливо відновити!
                                        </div>
                                        <p>Ви впевнені що бажаєте видалити запис?</p>
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_start(deleteType, {'action': path('admin_bid_delete', {id: user.id})}) }} {#Здесь нет#}
                                        <button type="submit" class="btn btn-danger">Так</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
                                        {{ form_end(deleteType) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        {{ form_end(deleteType) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}