<style>

    @page {
        margin-top: 20px;
    }


    table {
        border-collapse: collapse;
        text-align: center;
    }

    table, table tr, table th, table td {
        border: 1px solid black;
    }

    .header .left {
        width: 330px;
    }

    .header .right {
        width: 340px;
    }
    
    .header .left {
        /*background: green;*/
        float: left;
    }
    
    .header .right {
        /*background: red;*/
        float: left;
    }

    .header table td {
        height: 30px;
        padding: 2px 5px;
    }

    .wrapper {
        margin: 20px 0;
    }
    
    .preambula {
        font-size: 11px;
        margin-top: 5px;
        line-height: 16px;
    }

    .writeOffTable {
        margin-top: 15px;
        width: 100%;
    }
    .writeOffTable th {
        padding: 5px;
    }
    
    .table-comission {
        margin: 5px 70px;
        border-collapse: none;
    }

    .table-comission, .table-comission tr, .table-comission th, .table-comission td, .remark, .remark tr, .remark td, .remark th {
        border: none;
    }



    .table-comission td {
        text-align: justify;
        height: 30px;
    }

    .table-comission td:first-child {
        border-right: 5px solid white;
    }
    
    .footer-doc1, .footer-doc2 {
        page-break-after: auto;

    }

    .footer-doc1 {
        height: 120px;
    }

    .footer-doc2 {
        height: 170px;
    }

</style>


<div class="header">
    <div align="right" style="margin-right: 40px;"><b>Типова форма №3-2</b></div>
    <div class="left">
        <div style="text-align: center; padding-right: 50px;"><u>Криворізький державний педагогічний університет</u><br/>(назва установи)</div>
        <div style="width: 150px; float:left">Ідентифікаційний код ЄДРПОУ</div>
        <div style="width: 100px; border: 1px solid black; float:right; margin: 15px 60px">40787802</div>
    </div>
    <div class="right">
        <div>ЗАТВЕРДЖЕНО</div>
        <div>
            наказом Державного казначейства України <br> від 18 грудня 2000р. №130
        </div>
        <br/>
        <div align="center">ЗАТВЕРДЖУЮ</div>
        <div style="height: 15px; border-bottom: 1px solid black; width: 150px; margin: 0 auto"></div>
        <div style="font-size: 10px; text-align: center; line-height: 18px;">(підпис керівника установи)</div>
        <div align="center">"____" _______________________ 20__p.</div>
        <table style="margin-top: 18px;">
            <tr>
                <td style="width: 50px">Номенклатурний номер</td>
                <td style="width: 150px">Основний рахунок</td>
                <td style="width: 50px">Кореспондентський рахунок</td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    
</div>
<div class="wrapper">
    <div align="center"><b>АКТ списання № _________</b></div>
        <div class="preambula">
            <div style="margin-bottom: 2px;">"____" _________ 20____ p. комісія. призначена наказом по установі (організації) від "____" _________ 20____ p. №____ та</div>
            <div style="text-align: justify">
                внесеням змін до наказу від "____" _________ 20____ p. №____, у складі: проректор з АГР Золотницький М. Я., Провідний інженер ЕТВ Женотка В. С., провідний інженер-програміст Темнюк Ю.В., бухгалетр Бобко О. Ю.
            </div>
        </div>

        <table class="writeOffTable">
            <tr>
                <th>№</th>
                <th>Найменування</th>
                <th>Од. Виміру</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th>Сума</th>
                <th>Місце встановлення</th>
            </tr>
            {% for item in qb %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.item.name }}</td>
                    <td>шт.</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.item.price }}</td>
                    <td>{{ "%.02f"|format(item.count * item.item.price)}}</td>
                    {% if item.item.type == 0 %}
                        <td>Використано</td>
                    {% else %}
                        <td>Встановлено в {{ item.bid.housing }} корпус, в {{ item.bid.audience|lower }}.</td>
                    {% endif %}
                </tr>
            {% endfor %}
            
        </table>
        <br>
    <div class="footer-doc1">
        <div class="inline-block">
            <div style="width: 300px; float: left;">Усього за цим актом списано</div>
            <div style="text-align: center;"><i>{{ countElements }} ( {{ countElementsString }})</i></div>
        </div>
        <div class="inline-block">
            <div style="width: 300px; float: left;">Предметів на загальну суму</div>
            <div style="text-align: center;"><i>{{ "%.02f" | format(summ) }} ( {{ summString }} )</i></div>
        </div>
        <table class="remark" width="100%">
            <tr>
                <td align="left">Окремі зауваження комісії</td>
                <td align="right">
                    _______________________________________________________________________
                </td>
            </tr>
        </table>
        <div style="line-height: 20px">____________________________________________________________________________________________________________________________________________________________________________________________________________</div>
    </div>
    <div class="footer-doc2" style="margin-top: -10px;">
        <table class="table-comission">
            <tr>
                <td>Голова&nbsp;комісії</td>
                <td style="padding: 0 5px; width: 250px;">Проректор&nbsp;з&nbsp;АГР</td>
                <td>_________________</td>
                <td>Золотницький&nbsp;М.&nbsp;Я.</td>
            </tr>
            <tr>
                <td>Члени&nbsp;комісії</td>
                <td style="padding: 0 5px;">Провідний&nbsp;інженер&nbsp;ЕТВ</td>
                <td>_________________</td>
                <td>Женотка В. С.</td>
            </tr>
            <tr>
                <td></td>
                <td style="padding: 0 5px;">Провідний інженер-програміст</td>
                <td>_________________</td>
                <td>Темнюк Ю. В.</td>
            </tr>
            <tr>
                <td></td>
                <td style="padding: 0 5px;">Бухгалтер</td>
                <td>_________________</td>
                <td>Бобко О. Ю.</td>
            </tr>
        </table>
        <div>
            М. В. О. _______________________
        </div>

    </div>

</div>