{% extends 'base.html.twig' %}

{% block wrapper %}
    <form action="{{ path("writeOffAct") }}" method="GET" name="writeOff">
        <table class="iс-table">
            <tr>
                <td>Підрозділ:</td>
                <td>
                    <div>
                        <select name="writeOff[storage]" class="form-control">
                            {% for val in storages %}
                                <option value="{{ val.id }}">{{ val.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                        <div class="form-group">
                            <label for="firstPeriod">Перший період дати:</label>
                            {% if writeOff %}
                                {% if writeOff['first'] is not empty %}
                                    <input type="text" class="form-control date" id="first-period" name="writeOff[first]" placeholder="дд-мм-рррр" value="{{ writeOff['first'] }}">
                                {% else %}
                                    <input type="text" class="form-control date" id="first-period" name="writeOff[first]" placeholder="дд-мм-рррр">
                                {% endif %}
                            {% else %}
                                <input type="text" class="form-control date" id="first-period" name="writeOff[first]" placeholder="дд-мм-рррр">
                            {% endif %}
                        </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="firstPeriod">Другий період дати:</label>
                        {% if writeOff %}
                            {% if writeOff['second'] is not empty %}
                                <input type="text" class="form-control date" id="second-period" name="writeOff[second]" placeholder="дд-мм-рррр" value="{{ writeOff['second'] }}">
                            {% else %}
                                <input type="text" class="form-control date" id="second-period" name="writeOff[second]" placeholder="дд-мм-рррр">
                            {% endif %}
                        {% else %}
                            <input type="text" class="form-control date" id="second-period" name="writeOff[second]" placeholder="дд-мм-рррр">
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="btnWriteOff" class="btn btn-default" data-toggle="modal" data-target="#writeOffModal" disabled>
                        Списати матеріали
                    </button>
                    {#<button class="btn btn-default" ></button>#}
                    <button class="btn btn-default">Відправити</button>


                    <div id="writeOffModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Списання матеріалів</h4>
                                </div>
                                <div class="modal-body">
                                    {#<div class="alert alert-warning" role="alert">
                                        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                                        УВАГА!!! <br/> Після видалення запису, його неможливо відновити!
                                    </div>#}
                                    <p>Ви впевнені що бажаєте списати матеріали?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" id="pushPrint">Так</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </form>

    <form action="{{ path('writeOffActGenerate') }}" method="POST" id="print" name="print">
        {% if writeOff is not empty %}
            {% if writeOff['storage'] %}
                <input type="hidden" name="print[storage]" value="{{ writeOff['storage'] }}" >
            {% else %}
                <input type="hidden" name="print[storage]">
            {% endif %}

            {% if writeOff['first'] %}
                <input type="hidden" name="print[first]" value="{{ writeOff['first'] }}">
            {% else %}
                <input type="hidden" name="print[first]">
            {% endif %}

            {% if writeOff['second'] %}
                <input type="hidden" name="print[second]" value="{{ writeOff['second'] }}">
            {% else %}
                <input type="hidden" name="print[second]">
            {% endif %}


        {% else %}
            <input type="hidden" name="print[storage]">
            <input type="hidden" name="print[first]">
            <input type="hidden" name="print[second]">
        {% endif %}
    </form>


    <table class="table table-bordered">
        <tr>
            <th>№</th>
            <th>Найменування</th>
            <th>Од. Виміру</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
            <th>Місце встановлення</th>
        </tr>

        {% if result is empty %}
            <tr>
                <td colspan="7">Елементи для показу відсутні</td>
            </tr>
        {% else %}
            {% for item in result %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>шт.</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ "%.02f"|format(item.count * item.price)}}</td>
                    {% if item.type == 0 %}
                        <td>Використано</td>
                    {% else %}
                        <td>Встановлено в {{ item.housing|lower }} корпус, в {{ item.audience }}.</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}

    </table>


    <script>
        $(document).ready(function (){
            $('.date').mask('99-99-9999');
            var i = 0;
            $('input').each(function () {
                i++;
                if( $(this).val() != ""){
                    $('#btnWriteOff').removeAttr('disabled');
                }
                else {
                    $('#btnWriteOff').attr('disabled', true);
                    return false;

                }
            });
            $('#pushPrint').click(function(e){
                e.preventDefault();
                $('#print').submit();
            })

        });

    </script>
{% endblock %}