<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Інформаційно обчислювальний центр{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets
        '@ICCBundle/Resources/public/less/main.less'
        '@bootstrap_datepicker_css'
        '@select2_css'
        '@select2_bootstrap_css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
        {#<link rel="stylesheet" type="text/css" href="{{ asset('css/font-glyphical.css') }}" />#}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"  media="all" />
        {% endstylesheets %}

        {% stylesheets '@twbs_css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <script src="{{ asset('assetic/jquery_and_ui.js') }}"></script>
        {% javascripts
        '@select2_js'
        '@moment_js'
        '@momoent_js_locales'
        '@twbs_js'
        '@bootstrap_datepicker_js'
        '@ICCBundle/Resources/public/js/*'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>

    <div style="position: absolute; z-index: -99999; visibility: hidden;">
        <span class="glyphicon glyphicon-refresh spinning"></span> {#загрузка файлу glyphicons#}
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('index') }}">Інформаційно обчислювальний центр</a>
                </div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <div class="login-avatar">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    </div>
                                    {{ app.user.lastname }} {{ app.user.firstname | slice(0, 1) }}. {{ app.user.patronymic  | slice(0, 1)}}.
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
                                        <li class="dropdown-submenu">
                                            <a href="{{ path('admin') }}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Панель керування
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li><a href="{{ path('bid') }}" class="generation">Заявки на виконання робіт</a></li>
                                                <li><a href="{{ path('storage_history') }}" class="generation">Історія списання</a></li>
                                            </ul>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li>
                                            <a href="{{ path('user') }}" class="generation"><i class="fa fa-user" aria-hidden="true"></i> Користувачі</a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('user_settings') }}">
                                            <i class="fa fa-cog" aria-hidden="true"></i> Налаштування
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Вихід
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                {% endif %}
            </div><!-- /.container-fluid -->
        </div>
    </nav>
    <div class="container">
        <div class="wrapper">
            <div class="row">
               {% block wrapper %}{% endblock %}
            </div>
        </div>
    </div>
   <div class="footer">
       <div class="container-fluid navbar navbar-default">
           <div class="text-center">
               Криворізький педагогічний університет | ©2016 - {{ "now" |date("Y") }} Потоцький Владислав<br/>ICC version: 0.3.1
           </div>
       </div>
   </div>
    </body>
</html>

