{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block wrapper %}
    <p>Вітаємо {{ user.username }}! Ви успішно пройшли реєстрацію!</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <script>
        setTimeout(function(){
            window.location.replace("{{ path('index') }}");
        }, 5000);

    </script>
{% endblock wrapper %}
