{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {# {{ form_widget(form) }}#}
<div class="panel panel-default">
    <div class="panel-heading">Реєстрація</div>
        <div class="panel-body">
        <div id="fos_user_registration_form">
                {{ form_row(form.username, { 'label': 'Логін' }) }}
                {{ form_row(form.lastname, {'label' : 'Призвище'}) }}
                {{ form_row(form.firstname, {'label' : 'Ім\'я'}) }}
                {{ form_row(form.patronymic, {'label' : 'По батькові'}) }}
                {{ form_row(form.email, { 'label': 'Електрона пошта' }) }}
                {{ form_row(form.plainPassword.first, { 'label': 'Пароль' }) }}
                {{ form_row(form.plainPassword.second, { 'label': 'Повтор паролю' }) }}
        </div>
        <div class="center">
            <input type="submit" class="btn btn-success" value="{{ 'Закінчити реєстрацію'|trans }}" />
        </div>
    </div>

{{ form_end(form) }}