@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab';
@font-face {
  font-family: 'aleksandracregular';
  src: url(../fonts/aleksandracregular.ttf);
}
@font-face {
  font-family: 'days';
  src: url(../fonts/days.ttf);
}
@font-face {
  font-family: 'droidsans';
  src: url(../fonts/droidsans.ttf);
}
@font-face {
  font-family: 'ubuntu';
  src: url(../fonts/ubuntu.ttf);
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.center {
  text-align: center;
}
.bid {
  width: 1000px;
  font-family: 'sans';
  font-weight: bold;
  line-height: 1.4;
  font-size: 18pt;
  text-align: justify;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0 auto;
}
.bid span {
  font-weight: normal;
  padding-right: 5px;
}
.bid p {
  margin: 0;
}
.bid .diffposition p:first-child {
  text-align: left;
  float: left;
}
.bid .diffposition p:last-child {
  text-align: right;
}
.justify-elem {
  text-align: justify;
  padding: 0;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}
.justify-elem:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.justify-elem li {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  vertical-align: top;
}
.clear-font {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.bird {
  width: 13px;
  height: 13px;
  border: 1px solid black;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.give-pc {
  display: inline-block;
}
.sub {
  text-align: center;
}
.sub > span {
  font-size: 12px;
}
.bid-name {
  text-decoration: underline;
}
@media print {
  body > * {
    display: none;
  }
  div.container {
    display: block;
    border: none;
  }
  .bid {
    margin-left: 50px;
    width: 1050px;
  }
  .print {
    display: none !important;
  }
  p {
    font-size: 20px;
  }
  span,
  li {
    font-size: 20px;
  }
  .sub-print-1 {
    margin: -13px 85px 0 0 !important;
  }
  .sub-print-2 {
    margin: -13px 30px 0 0 !important;
  }
}
a.print {
  display: block;
  margin: 10px auto;
  text-decoration: none;
  font-size: 40px;
  color: black;
  width: 37px;
}
.post {
  text-transform: lowercase;
}
* {
  outline: none;
  font-family: 'droidsans';
  font-size: 14px;
}
*:focus {
  outline: none;
}
.navbar-header a {
  line-height: 25px;
}
.add {
  line-height: 28px;
}
.input-group {
  margin: 5px 0;
}
.btn-edit {
  background: none;
  border: none;
}
.login-avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.login-avatar i {
  font-size: 30px;
}
.center {
  margin: 0 auto;
}
.remove {
  color: red;
}
.footer {
  padding: 15px 0;
}
.dynamic-form ul {
  padding: 0;
}
.dynamic-form ul li {
  list-style: none;
}
.controll-input a {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background: #cccccc;
  border-radius: 30px;
  text-decoration: none;
  color: black;
}
.controll-input a:last-child {
  display: none;
}
.controll-input a:focus,
.controll-input a:hover {
  text-decoration: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
ul.pagination {
  margin: 0;
}
.footer .text-center {
  padding: 15px 0;
}
.summ {
  display: inline-block;
  margin-left: 70px;
}
.table tr.child td {
  border: none;
}
.pull-left,
ul.dropdown-menu.pull-left {
  right: 100%;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.iс-table .form-group {
  margin-bottom: 0;
}
.iс-table tr:nth-child(4) > td:first-child {
  padding: 11px;
  vertical-align: top;
}
.iс-table td:first-child {
  text-align: right;
  font-weight: bold;
}
.iс-table td input {
  font-weight: normal;
}
.iс-table td > ul {
  list-style: none;
  padding: 0;
  margin-bottom: -15px;
}
.iс-table td > ul li {
  padding: 0 0 10px 0;
}
.iс-table td > ul li input {
  padding: 5px 10px;
}
.iс-table td {
  padding: 5px 10px;
}
