{% extends "base.html.twig" %}

{#{% trans_default_domain 'FOSUserBundle' %}#}
{#{% form_theme security 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% block wrapper %}
    <div class="panel panel-default">
        <div class="panel-heading">Логін</div>
        <div class="panel-body">
            <div class="login">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i> ПОМИЛКА! Введені не корректні данні!
                    </div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Логін" required="required" />
                    </div>

                    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Пароль" required="required" />
                    </div>
                    <div class="checkbox">

                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Запом'ятати мене?
                        </label>
                    </div>

                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'Вхід'|trans }}" />
                </form>
            </div>
        </div>
    </div>

{% endblock wrapper %}
